body {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

/* ID to add the image of wilkes-barre to our div */
#wilkes-barre {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Headings on our photo */
#img-content {
    position: absolute;
    top: 10px; 
    left: 20px;
}

.title {
    text-align: center;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 10px solid #000;
}

.subtitle {
    padding-top: 0px;
    font-size: 17px;
}

/* CSS GRID STYLES */
.box-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px;
}

