
nav {
    background-color: dimgray;
    color: white;
    text-align: center;
    padding: 5px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    padding: 5px 20px;
}
nav a {
    text-decoration: underline;
    color: black;
}
nav a:hover {
    color: white;
}